/* ---------- SUBJECT COLORS ---------- */

.subject-block[data-subject="Praktická cvičení"] {
    background-color: #ffcc99;
}

.subject-block[data-subject="Matika"] {
    background-color: #ff9999;
}

.subject-block[data-subject="Hardware"] {
    background-color: #b3b3b3;
}

.subject-block[data-subject="Angličtina"] {
    background-color: #c2b3ff;
}

.subject-block[data-subject="Seminář #1"],
.subject-block[data-subject="Seminář #2"],
.subject-block[data-subject="Seminář #3"] {
    background-color: #b3e6cc;
}

.subject-block[data-subject="Ekonomika"] {
    background-color: #ffd699;
}

.subject-block[data-subject="Fyzika"] {
    background-color: #99cc99;
}

.subject-block[data-subject="Sítě"] {
    background-color: #99e6e6;
}

.subject-block[data-subject="Čeština"] {
    background-color: #ffb366;
}

.subject-block[data-subject="Manažerké dovednosti"] {
    background-color: #d9b3ff;
}

.subject-block[data-subject="Programování"] {
    background-color: #66b3ff;
}

.subject-block[data-subject="Operační systémy"] {
    background-color: #99ccff;
}

.subject-block[data-subject="Databáze"] {
    background-color: #80d4b2;
}

.subject-block[data-subject="Tělocvik"] {
    background-color: #ffcc66;
}